<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aesopsfables">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BellingtheCat"
            android:label="@string/title_activity_bellingthe_cat"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheCatMaiden"
            android:label="@string/title_activity_the_cat_maiden"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheLioninLove"
            android:label="@string/title_activity_the_lionin_love"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheMischievousDog"
            android:label="@string/title_activity_the_mischievous_dog"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheOldHound"
            android:label="@string/title_activity_the_old_hound"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".Androcles"
            android:label="@string/title_activity_androcles"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheAssintheLionsSkin"
            android:label="@string/title_activity_the_assinthe_lions_skin"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheAssandtheCharger"
            android:label="@string/title_activity_the_assandthe_charger"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheAsssBrains"
            android:label="@string/title_activity_the_asss_brains"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheAssandtheLapdog"
            android:label="@string/title_activity_the_assandthe_lapdog"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>